<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sdust.mylive.dao.UserBasicInfoMapper">
  <resultMap id="BaseResultMap" type="edu.sdust.mylive.model.UserBasicInfo">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="isAnchor" jdbcType="BOOLEAN" property="isanchor" />
    <result column="isAdmin" jdbcType="BOOLEAN" property="isadmin" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="exp" jdbcType="INTEGER" property="exp" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, nickname, isAnchor, isAdmin, intro, `exp`, `valid`
  </sql>
  <select id="selectByExample" parameterType="edu.sdust.mylive.model.UserBasicInfoExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_basic_info_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_basic_info_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_basic_info_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.sdust.mylive.model.UserBasicInfoExample">
    <!--@mbg.generated-->
    delete from user_basic_info_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.sdust.mylive.model.UserBasicInfo">
    <!--@mbg.generated-->
    insert into user_basic_info_table (id, nickname, isAnchor, 
      isAdmin, intro, `exp`, 
      `valid`)
    values (#{id,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{isanchor,jdbcType=BOOLEAN}, 
      #{isadmin,jdbcType=BOOLEAN}, #{intro,jdbcType=VARCHAR}, #{exp,jdbcType=INTEGER}, 
      #{valid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.sdust.mylive.model.UserBasicInfo">
    <!--@mbg.generated-->
    insert into user_basic_info_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="isanchor != null">
        isAnchor,
      </if>
      <if test="isadmin != null">
        isAdmin,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="exp != null">
        `exp`,
      </if>
      <if test="valid != null">
        `valid`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="isanchor != null">
        #{isanchor,jdbcType=BOOLEAN},
      </if>
      <if test="isadmin != null">
        #{isadmin,jdbcType=BOOLEAN},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="exp != null">
        #{exp,jdbcType=INTEGER},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.sdust.mylive.model.UserBasicInfoExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from user_basic_info_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update user_basic_info_table
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.isanchor != null">
        isAnchor = #{record.isanchor,jdbcType=BOOLEAN},
      </if>
      <if test="record.isadmin != null">
        isAdmin = #{record.isadmin,jdbcType=BOOLEAN},
      </if>
      <if test="record.intro != null">
        intro = #{record.intro,jdbcType=VARCHAR},
      </if>
      <if test="record.exp != null">
        `exp` = #{record.exp,jdbcType=INTEGER},
      </if>
      <if test="record.valid != null">
        `valid` = #{record.valid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update user_basic_info_table
    set id = #{record.id,jdbcType=INTEGER},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      isAnchor = #{record.isanchor,jdbcType=BOOLEAN},
      isAdmin = #{record.isadmin,jdbcType=BOOLEAN},
      intro = #{record.intro,jdbcType=VARCHAR},
      `exp` = #{record.exp,jdbcType=INTEGER},
      `valid` = #{record.valid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.sdust.mylive.model.UserBasicInfo">
    <!--@mbg.generated-->
    update user_basic_info_table
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="isanchor != null">
        isAnchor = #{isanchor,jdbcType=BOOLEAN},
      </if>
      <if test="isadmin != null">
        isAdmin = #{isadmin,jdbcType=BOOLEAN},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="exp != null">
        `exp` = #{exp,jdbcType=INTEGER},
      </if>
      <if test="valid != null">
        `valid` = #{valid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.sdust.mylive.model.UserBasicInfo">
    <!--@mbg.generated-->
    update user_basic_info_table
    set nickname = #{nickname,jdbcType=VARCHAR},
      isAnchor = #{isanchor,jdbcType=BOOLEAN},
      isAdmin = #{isadmin,jdbcType=BOOLEAN},
      intro = #{intro,jdbcType=VARCHAR},
      `exp` = #{exp,jdbcType=INTEGER},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>