/* Make the image fully responsive */

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.show-video {
    /*height: 2000px;*/
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
    background: url("../img/show-back.jpg");
}

.urlInput {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.centeredVideo {
    display: block;
    /*height: 576px;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.controls {
    display: block;
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}